cryptography==46.0.3
dbutils==3.1.2
djangorestframework==3.16.1
fake_useragent==2.2.0
itemadapter==0.13.0
netifaces==0.11.0
psycopg2_binary==2.9.11
pydantic==2.12.5
pymysql==1.1.2
pypi_fairylandlogger==1.0.2
pypinyin==0.55.0
python_dateutil==2.9.0.post0
PyYAML==6.0.3
redis==7.1.0
Requests==2.32.5
scrapy==2.13.4
SQLAlchemy==2.0.45
Twisted==25.5.0
urllib3==2.6.2
user_agents==2.2.0
